.container {
    width: 950px;
    margin: 0 auto;
    display: flex;
}

.invoiceWidget{
    width: 200px;
}

.invoiceWidget p{
    margin: 10px 0;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
}

.widget{
    padding: 5px 0 20px 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-top-right-radius: 0px;
    -moz-border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-bottom-right-radius: 0px;
    font-size: 14px;
    text-shadow: rgba(0,0,0,0.5) 1px 1px;
    background: #336;
    background: rgba(0,0,0,0.3);
    border: 1px solid rgba(0,0,0,0.8);
    text-align: left;
    color: white;
    margin: 0 auto;
    -webkit-box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
    height: 60px;
}

.invoiceWidgetRow1{                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             
    position: relative;
    top: 60px;
}

.invoiceWidgetRow2{
    position: relative;
    top: 160px;
}

.invoiceWidgetRow2 button{
    background: #f36331; 
    color: #fff;
    border: none;
    padding: 7px 18px;
    -webkit-border-radius : 12px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;  
    outline: none;                                                                                                                         
}

.invoiceWidgetRow3{
    position: relative;
    top: 290px;
}

.invoiceWidgetRow3 .addRow, .invoiceWidgetRow3 .deleteRow{
    color: #6ce;
    text-shadow: rgba(0,0,0,0.5) 1px 1px;
    margin: 3px 0;
    cursor : pointer;
}

.invoiceWidgetRow3 .addRow:hover, .invoiceWidgetRow3 .deleteRow:hover{
    color: #fff;
}

.invoiceForm {
    background: #fcffff url("./images/paper.png");
    width: 100%;
    border-radius: 3px;
    padding: 45px 65px;
}

.invoiceForm div{
    display: flex;
}

.row div{
    width: 50%;
}

.row div input{
    width: 100%;
    font-family: "Helvetica Neue",arial,sans;
    color: #222;
    background: none;
    border: none;
}

.row div input:focus{
    outline: 0;
    color: #000;
	-webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
}


.left-align {
    text-align: left;
}

.left-align:focus{
    background: -webkit-gradient(linear, left top, right top, from(rgba(255,255,100,0.5)), to(rgba(255,255,100,0.2)))!important;
}

.right-align {
    text-align: right;
}

.right-align:focus{
    background: -webkit-gradient(linear, right top, left top, from(rgba(255,255,100,0.5)), to(rgba(255,255,100,0.2)))!important;
}

.invoiceFormRow1 .companyName{
    font-size: 20px;
    font-weight: bold;
    line-height: 45px;
    height: 45px;
    text-transform: capitalize;
}

.invoiceFormRow1 .invoiceName{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
}

.invoiceFormRow2{
    margin-top: 10px;
}

.addressLine {
    font-size: 12px;
    margin-bottom: 5px;
    height: 15px;
    text-transform: capitalize;
}

.invoiceDate, .invoiceNumber, .poNumber{
    height: 15px;
    text-transform: capitalize;
    font-size: 12px;
}

.invoiceFormRow5{
    margin-top: 10px;
}

.phoneNumber, .mailId{
    height: 16px;
    text-transform: lowercase;
    font-size: 12px;
    margin-top: 4px;
}

.clientName, .clientCompanyName{
    height: 18px;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: bold;
}

hr {
    background: #ddd;
    color: #ddd;
    clear: both;
    float: none;
    width: 100%;
    height: 1px;
    margin: 25px 0 1.45em;
    border: none;
}

textarea {
    background : none;
    border : 0;
    outline : 0;
}

textarea:focus{
    background: rgba(255,255,100,0.4)!important;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,100,0.5)), to(rgba(255,255,100,0.1)))!important;
	color: #000;
	text-shadow: #fff 1px 1px;
	-webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
}

.invoiceContent{
    resize: none;
    overflow: hidden;
    width: 100%;   
    padding: 20px 70px 0px 70px;
    line-height: 20px;
    font-family: "Helvetica Neue",arial;
    border: 0;
    font-size: 13px;
    margin: 0px auto;
    height: 180px;
    display: block;
}

.greeting{
    margin: 30px 0 150px 0;
    padding-bottom: 20px;
    height: 80px;    
}